.experience-list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin: 0 5%;
}

.experience {
    display: flex;
    flex-direction: column;
    padding: 8%;
    margin: 2% 4%;
}

.experience:nth-child(odd) {
    outline: 5px solid #FF2C8C;
    outline-style: outset;
    grid-column: 1;
}
.experience:nth-child(even) {
    outline: 5px solid #FF9200;
    outline-style: outset;
    grid-column: 2;
}
.wagon {
    grid-row: 1;
}
.norauto {
    grid-row: 2;
}
.finursery {
    grid-row: 3;
}
.azendoo {
    grid-row: 4;
}

.calendar-icon{
    margin-right: 10px;
}

.experience-image {
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
}

.experience-dates {
    font-size: 14px;
}
.company-name {
    font-weight: bolder;
    margin: 1% 0;
}
.company-short-description {
    font-style: italic;
}
.experience-skills-list {
    margin-bottom: 0;
}

@media (max-width: 800px) {
    .experience-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }
    .experience {
        max-width: 100%;
    }
}