.experience-list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.experience-page-title {
    border-bottom: 10px solid #58ACFF;
    text-align: center;
    width: 35%;
}

.experience {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 2%;
    margin: 2% 4%;
}

.calendar-icon{
    margin-right: 10px;
}

.experience-image {
    height: 50px;
    width: 50px;
    margin-bottom: 0;
    justify-self: center;
    align-self: center;
}

.experience-dates {
    text-align: center;
}
.company-name {
    text-align: center;
    font-weight: bolder;
    margin: 1% 0;
}
.company-short-description {
    font-style: italic;
    text-align: center;
}
.experience-skills-list {
    list-style: circle;
    margin-bottom: 0;
}

@media (max-width: 800px) {
    .experience-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }
    .experience {
        max-width: 100%;
    }
}