body {
    font-family: 'Open Sans', sans-serif !important;
}

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/home-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-transform: uppercase;
    font-size: 35px;
}

p {
    margin: 2% 0%;
}

.home-page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        margin-top: 20px;
        font-weight: bolder;
    }
    margin-top: 50px;
}

.intro-header {
    text-transform: uppercase;
}
.introduction {
    padding: 2% 10%;
}

.biographie-link {
    color: #BD10E0;
}

.experience-link{
    color: #F5A623;
}
.work-link{
    color: #FF2C8C;
}
.contact-link{
    color: #7ED321;
}

.home-page-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2%;
    align-items: center;
}

.footer-menu {
    display: flex;
    width: 50%;
    height: 32px;
    justify-content: space-between;
}

.footer-icons {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    i {
        margin: 10px;
        font-size: 30px;
    }
    .fa-linkedin {
        color: #7ED321;
    }
    .fa-phone-square-alt {
        color: #FF2C8C;
    }
    .fa-envelope-square {
        color: #F5A623;
    }
}
.footer-link {
    text-decoration: none;
    font-weight: bold;
    &:hover {
        border-bottom: 2px solid;
        text-decoration: none;
    }
}